//---------------------------------------------------------------------------
//
// Name:        Project1App.rc
// Author:      Joel
// Created:     22/10/2013 08:25:15 p.m.
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
